@page "/listas"
@layout DashboardLayout

<div class=" h-full flex flex-col space-y-4 justify-center items-center">
    <div class=" w-[95%] h-full space-y-4">
        <div class=" space-y-2">
            <div>
                <h1 class=" text-2xl font-bold text-Primaria">As Tuas Tarefas</h1>
                <p class=" text-sm text-Secundaria">Listas sao uma forma excelente de organizar suas tarefas. Confira abaixo suas listas.</p>
            </div>
        </div>
        <div class=" flex flex-wrap">
            @foreach (var lista in listas)
            {
                <div class=" shadow-md flex flex-col shadow-Primaria rounded-md p-2 w-[31%] h-[35%] m-2">
                    <div class=" flex flex-col justify-center h-[50%] items-center text-center   border-b-2 border-Primaria p-1">
                        <div class=" w-[50%] text-Primaria">
                            <h1 class=" font-bold">@lista.Lista</h1>
                        </div>
                        <div class=" w-[50%] text-Secundaria">
                            <h2>@lista.NumeroTarefas Tarefas</h2>
                        </div>
                    </div>
                    <div class=" py-2 text-Secundaria h-[25%]">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class=" text-center h-[25%]">
                        <button @onclick="() => VerTarefa(lista.Lista)" class=" p-2 bg-Primaria w-[80%] rounded text-Neutra hover:scale-[1.05] transition-all">Ver
                            Tarefas</button>
                    </div>
                </div>   
            }
        </div>
    </div>
</div>

@code
{
    List<ListaAlteraListaTarefaDTO> listas = new List<ListaAlteraListaTarefaDTO>();

    protected override async void OnInitialized()
    {
        listas = await api.ListarListas();
        StateHasChanged();
    }

    void VerTarefa(string NomeCategoria)
    {
        Rota.NavigateTo($"/tarefas/lista/{NomeCategoria}");
    }
}

