<section class=" w-full  bg-Neutra">
    <div class="flex flex-wrap justify-center items-center p-1 lg:py-10 space-y-3 lg:space-x-6 lg:space-y-0">
        @for (int i = 0; i < 3; i++)
        {
            <div
                class="  flex justify-center items-center flex-wrap h-[350px] w-4/5 lg:w-[250px] shadow-md shadow-Primaria hover:scale-[1.02] transition-all rounded-lg">
                <div class=" rounded-full bg-Primaria h-[120px] w-[120px] ">

                </div>
                <div class=" p-2 text-pretty">
                    <h1 class=" text-center font-bold text-xl text-Primaria">Lorem, ipsum.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus fuga, ullam numquam a magnam porro.
                        Fuga, officia id.</p>
                </div>
            </div>
        }
    </div>
</section>