<section class=" h-screen bg-Secundaria ">
    <div class=" flex p-4">
        <div class=" w-3/4 md:w-[50%] flex items-center">
            <div class="w-[40%]">
                <Logo></Logo>
            </div>
        </div>
        <div class=" w-1/4 flex items-center justify-end md:hidden">
            <img width="40" height="40" onclick="MostrarMenu()" class=" hover:scale-110 transition-transform active:scale-100"
                 src="https://img.icons8.com/ios-filled/50/5688c7/menu--v6.png" alt="menu--v6"/>
        </div>
        <div class=" w-[50%] md:flex text-Neutra items-center justify-end hidden">
            <ul class=" flex space-x-8 font-bold ">
                <li class=" hover:text-Primaria transition-all">Sobre</li>
                <li class=" hover:text-Primaria transition-all">Como Funciona?</li>
                @if (isLoggedIn)
                {
                    <li class=" hover:text-Primaria transition-all ">
                        <a href="/entrar">Login</a>
                    </li>
                }
                else
                {
                    <li class=" hover:text-Primaria transition-all ">
                        <a href="/entrar">
                            <img src="assets/icons/user-24.png" alt="Ir Para Dashboard"/>
                        </a>
                    </li>
                }
            </ul>
        </div>

    </div>
    <div class=" bg-Neutra absolute w-[100%] h-[100%] top-0 right-0 hidden" id="MenuHumburguer">
        <div class="w-full flex p-3">
            <div class=" w-3/4 flex items-center">
                <h1 class=" text-Primaria font-bold font-mono outline rounded w-[50%] text-center text-3xl">
                    ToDo
                </h1>
            </div>
            <div class="w-[25%] flex justify-end">
                <img width="40" height="40" onclick="OcultarMenu()" class=" hover:scale-110 transition-transform active:scale-100"
                     src="https://img.icons8.com/ios-filled/50/5688c7/delete-sign--v1.png" alt="delete-sign--v1"/>
            </div>
        </div>

        <ul class=" flex p-2 space-y-6 flex-col font-bold ">
            <li class=" hover:text-Primaria transition-all">Como Funciona?</li>
            <li class=" hover:text-Primaria transition-all">Sobre</li>
            <li class=" hover:text-Primaria transition-all ">
                <a href="/entrar">Entrar</a>
            </li>
        </ul>
    </div>

    <div class=" lg:mt-0 md:mt-0 lg:flex md:flex h-full justify-center items-center">
        <div>
            <div class=" p-3 text-center text-Primaria flex flex-col justify-center items-center">
                <h1 class=" font-bold text-3xl m-3"> Organize suas <span class=" text-Neutra">tarefas</span> de forma simples e eficientes .</h1>
                <p class=" text-xl font-medium w-[50%]">
                    O essencial, feito do jeito certo. Gerencie suas tarefas com <span class=" text-Neutra"> facilidade!</span>.
                </p>
            </div>

            <div class="flex justify-center my-2">
                <button
                    @onclick='() => Rota.NavigateTo("admin")'
                    class=" border-[2px] border-Primaria hover:scale-110 active:scale-100 transition-all text-Primaria rounded p-2 font-semibold hover:bg-Primaria hover:text-Neutra">
                    @if (!isLoggedIn)
                    {
                        <span>Ir para Dashboard</span>
                    }
                    else
                    {
                        <span>Começar!!</span>
                    }
                </button>
            </div>
        </div>
    </div>
</section>

@code{
    public bool isLoggedIn { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(isLoggedIn);
        isLoggedIn = string.IsNullOrEmpty(await cookies.RetornarCookie("token"));
        Console.WriteLine(isLoggedIn);
    }

}