@page "/categoria/nova"
@page "/categoria/{IdCategoria:int}"
@layout DashboardLayout

<div class=" flex flex-col items-center ">
    <div class="space-y-6 w-[90%]">
        <div>
            <h1 class=" text-2xl font-bold text-Primaria"> @(EditarCategoria ? "Editar categoria" : "Adicionar nova categoria")</h1>
            <p class=" text-sm text-Secundaria">@(EditarCategoria ? "Altere o formulario abaixo para poder editar a categoria" : "Preeencha o formulario abaixo para adicionar uma nova categoria.")</p>
        </div>
        <input type="text" placeholder="Nome da categoria"
               @bind="Categoria.Categoria"
               class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
        <textarea rows="10" class=" border-2 border-Primaria w-full rounded-md p-2"></textarea>

        <button class=" p-2 bg-Primaria rounded text-Neutra hover:scale-[1.05] transition-all" @onclick="AdicionarAlterarCategoria">@(EditarCategoria ? "Guardar Alteracoes" : "Adicionar categoria")</button>
    </div>
</div>

@code {
    [Parameter] public int IdCategoria { get; set; }
    public CriaCategoriaDTO Categoria { get; set; } = new CriaCategoriaDTO();

    bool EditarCategoria = false;

    protected override void OnInitialized()
    {
        if (IdCategoria != 0)
            EditarCategoria = true;
    }
    
    async void AdicionarAlterarCategoria()
    {
        if (EditarCategoria)
        {
            
        }
        else
        {
            if(await api.CriarCategoria(Categoria))
                Rota.NavigateTo("/categorias");
        }
    }

}