@page "/admin"
@page "/resumo"
@layout DashboardLayout

<div class=" h-full flex flex-col w-full">
    <div class="  h-[20%] flex space-x-3 justify-center p-4 z-10 ">
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@ResumoDados.Tarefas</h1>
            <h1 class="w-full text-Neutra text-xl">Tarefas</h1>
        </div>
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@ResumoDados.ListasTarefas</h1>
            <h1 class="w-full text-Neutra text-xl">Listas de Tarefas</h1>
        </div>
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@ResumoDados.Categoria</h1>
            <h1 class="w-full text-Neutra text-xl">Categorias</h1>
        </div>
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@ResumoDados.Concluidas</h1>
            <h1 class="w-full text-Neutra text-xl">Concluidas</h1>
        </div>
    </div>
    <div class="">
        
    </div>
</div>

@code
{
    public List<ListaTarefaDTO>? ListaTarefas { get; set; } = new List<ListaTarefaDTO>();
    public List<RetornaListaTarefasDTO>? Listas { get; set; } = new List<RetornaListaTarefasDTO>();
    public ResumoDTO ResumoDados { get; set; }


    protected async override Task OnInitializedAsync()
    {
        ListaTarefas = await api.ListarTarefas();
        ResumoDados = await api.RetornarResumo();
    }

    string SetarEstadoTarefa(bool concluido) => concluido ? "checked" : "";

}