@page "/entrar"
@inject APIService api
@inject NavigationManager rota

<div class=" flex justify-center items-center h-screen">
    <div
        class=" flex items-center lg:justify-center flex-col w-4/5 lg:w-2/6 md:w-2/4 lg:p-6 lg:shadow-lg lg:shadow-Primaria rounded-lg h-4/5">
        <div class="w-full flex justify-center h-[30%]">
            <div class=" w-3/4 flex items-center justify-center">
                <h1 class=" text-Primaria font-bold font-mono outline rounded w-2/4 text-center text-3xl">
                    ToDo
                </h1>
            </div>
        </div>
        <div class=" space-y-8">
            <h1 class="text-Primaria font-bold">Bem-vindo de volta!!</h1>
            <div class=" space-y-4">
                <input type="email" placeholder="Email ou telefone" name="" @bind-value="Email" required
                       class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                <input type="password" placeholder="Palavra-passe" name="" @bind-value="Password" required
                       class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                <button @onclick="Login"
                        class=" p-2 w-full bg-Primaria rounded flex justify-center items-center space-x-2 text-Neutra hover:scale-[1.05] transition-all">
                    @if (Procesando)
                    {
                        <div class="process"></div>
                        <span>@TextoBotao</span>
                    }
                    else
                    {
                        <span>@TextoBotao</span>
                    }
                </button>
            </div>
            <div class=" flex flex-wrap text-center">
                <span class=" text-sm w-full">
                    Não possui uma conta?
                    <span class=" text-Primaria">
                        <a
                            href="/cadastro">
                            Crie uma
                            agora!!
                        </a>
                    </span>
                </span>
                <div class="process"></div>
                <span class=" text-sm text-Primaria w-full">
                    <a href="">
                        Esqueceu sua Palavra
                        Palavra-passe?
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>


@code {

    string Email = "";
    string Password = "";

    string TextoBotao = "Entrar";
    bool Procesando = false;

    protected override async Task OnInitializedAsync()
    {
        if (await api.Autenticado())
        {
            rota.NavigateTo("/admin");
        }
    }

    async Task Login()
    {
        if (Email != "" && Password != "")
        {
            Procesando = true;

            TextoBotao = "Processando...";
            if (await api.Autenticar(Email, Password))
                Rota.NavigateTo("/admin");

            TextoBotao = "Entrar";
            Procesando = false;
        }
        else
        {
            TextoBotao = "Por favor, preencha todos os campos acima!";
        }
    }

}