@page "/cadastro"

<div class=" flex justify-center items-center flex-col lg:gap-8 md:gap-2 h-screen">
    <div
        class=" flex flex-wrap items-center lg:justify-center flex-col w-4/5 lg:w-2/6 md:w-2/4 lg:p-6 lg:shadow-lg lg:shadow-Primaria rounded-lg h-4/5">
        <div class=" space-y-8">
            <h1 class=" text-Primaria text-2xl font-bold text-start">Inscreva-se</h1>
            <div class=" space-y-4">
                <div class="flex space-x-2">
                    <input type="text" placeholder="Nome" name="nome" @bind-value="Conta.Nome"
                           class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">

                    <input type="text" placeholder="Sobrenome" name="sobrenome" @bind-value="Sobrenome"
                           class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                </div>
                <input type="email" placeholder="Email" name="email" @bind-value="Conta.Email"
                       class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">

                <input type="number" placeholder="Contacto" name="email" @bind-value="Conta.Contacto"
                       class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">

                <div class=" flex space-x-2">
                    <input type="password" placeholder="Palavra-passe" name="palavrapasse" @bind-value="Conta.Password"
                           class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">

                    <input type="password" placeholder="Confirme a Palavra-passe" name="confirma_palavrapasse"
                           @bind-value="ConfirmPassword"
                           class=" py-2 caret-Intermedia focus:outline-0 focus:border-b-Intermedia transition-all w-full border-b-2 border-Primaria">
                </div>

                <button @onclick="CriarNovaConta"
                        class=" p-2 w-full bg-Primaria rounded text-Neutra hover:scale-[1.05] transition-all">
                    Cadastrar-se
                </button>
                <h1 class="text-center w-full">ou</h1>
                <div class=" flex justify-center gap-2 items-center">

                    <button
                        class=" p-2 border-2 border-Primaria rounded flex justify-center items-center space-x-2 text-Primaria font-bold hover:scale-[1.05] transition-all">
                        <span>
                            <img src="assets/icons/google-50.png" width="20px" alt="entrar com conta google"/>
                        </span>
                    </button>
                    <button
                        class=" p-2 border-2 border-Primaria rounded flex justify-center items-center space-x-2 text-Primaria font-bold hover:scale-[1.05] transition-all">
                        <span>
                            <img src="assets/icons/facebook-50.png" width="20px" alt="entrar com conta google"/>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class=" flex flex-wrap text-center">
        <span class=" text-sm w-full">
            Ja possui uma conta?
            <span class=" text-Primaria">
                <a href="/entrar">Entre agora!</a>
            </span>
        </span>
        <span class=" text-sm w-full text-[red]">@MensagemErro</span>
    </div>
</div>

@code {

    public AdicionarEditarContaDTO Conta = new AdicionarEditarContaDTO();
    string Sobrenome;
    string ConfirmPassword;

    string MensagemErro = "";

    async void CriarNovaConta()
    {
        if (Conta.Nome != string.Empty && Conta.Email != string.Empty && Conta.Contacto.ToString().Length == 9 &&
            (Conta.Password == ConfirmPassword))
        {
            Conta.Nome += $" {Sobrenome}";
            if (await api.CriarConta(Conta))
            {
                Rota.NavigateTo("/entrar");
            }
            else
            {
                MensagemErro = "Ocorreu um erro ao criar sua conta!";
            }
        }
    }

}